@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column; /* Stack header, sidebar, and main content vertically */
}

body {
    background-color: #0d1b2a;
}

header {
    display: flex;
    background-color: #415a77;
    /* justify-content: flex-start; Align logo and title to the left */
    align-items: center; 
    padding: 20px;
    width: 100%; /* Ensure the header spans the full width */
    position: relative;
    z-index: 1; /* Keep the header above the other content */
}



.logo {
    margin-right: 10px;
}

h1 {
    font-size: 36px;
    font-family: 'Playball', cursive;
    color: #e0e1dd;
}

h2, h3 {
    font-size: 36px;
    font-family: 'Playball', cursive;
    color: #e0e1dd;
}

.main-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start from the top */
    align-items: center; /* Horizontally center the content */
    padding: 20px;
    width: 100%; /* Ensure content fills available space */
}

main {
    flex-grow: 1; /* Main content should take up the remaining space */
    padding: 20px;
    margin-left: 250px; /* Push the main content to the right, leaving space for the sidebar */
    margin-top: 20px; /* Add space from the header */
    display: flex;
    justify-content: center; /* Horizontally center the content */
}

nav {
    background-color: #415a77;
    width: 200px; /* Sidebar width */
    height: 100vh; /* Sidebar spans full height of the viewport */
    padding: 20px;
    padding-top: 250px;
    position: fixed; /* Sidebar is fixed on the left */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 0; /* Ensure the sidebar is behind the header */
}

nav h2 {
    margin-bottom: 20px;
}

nav a:link, nav a:visited {
    color: #e0e1dd; /* Same color for both visited and unvisited links */
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

.main-display h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-display p {
    color: #e0e1dd;
    margin: 0; 
}

.shows {
    width: 80%;
    height: 60%;
    background-color: #1b263b;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white;
}

#pagination button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#table-container {
    overflow: hidden; /* Remove scrollbars */
}

#members-table {
    width: 100%;
}

#pagination {
    margin-top: 10px;
}