@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #0d1b2a;
}

header {
    display: flex;
    background-color: #415a77;
    align-items: center; 
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.logo {
    margin-right: 10px;
}

h1 {
    font-size: 36px;
    font-family: 'Playball', cursive;
    color: #e0e1dd;
}

h2, h3 {
    font-size: 36px;
    font-family: 'Playball', cursive;
    color: #e0e1dd;
}

.main-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #415a77;
    width: 200px;
    height: 100vh;
    padding: 20px;
    padding-top: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

nav h2 {
    margin-bottom: 20px;
}

nav a:link, nav a:visited {
    color: #e0e1dd;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

.main-display h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-display p {
    color: #e0e1dd;
    margin: 0; 
}

.shows {
    width: 80%;
    background-color: #1b263b;
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack tables and pagination vertically */
    padding: 20px; /* Add padding to the shows div */
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white;
}

#pagination button, #income-pagination button, #expenses-pagination button, button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#income-table-container, #expenses-table-container, #table-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the containers to grow and take up space */
}

#income-table, #expenses-table, #members-table, #patrons-table {
    width: 100%;
    flex-grow: 1;
}

#pagination, #income-pagination, #expenses-pagination, #pagination-dues, #pagination-members {
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

main {
    padding-bottom: 30px;
}